  /* ************************ */
  /*       TITLE H2 / H3      */
  /* ************************ */
  
  .story {
    #characters {
      margin: 6em;
      display: flex;
      flex-direction: column;
    }
  
    > h2 {
      color: transparent;
      height: 220px;
    }
  }
  
  .studio > h2, #characters > h3, #place h3 {
    color: transparent;
    height: 220px;
  }
  
  .story > h2, .studio > h2, #characters > h3 {
    z-index: -1;
  }
  
  #place h3 {
    z-index: 4;
  }
  
  .story > h2, .studio > h2 {
    width: 100%;
  }
  
  #characters > h3, #place h3 {
    position: relative;
    width: 70%;
  }
  
  .story > h2 span, .studio > h2 span, #characters span, #place span {
    position: absolute;
    color: #FFF5E9;
    opacity: 0;
    z-index: 4;
  }
  
  .story > h2 span, .studio > h2 span, #characters span, #place span {
    top: 100px;
  }
  
  .story #characters, #characters > h3 span, #place span {
    width: 100%;
  }
  
  .entry-title {
    color: #2b1582 !important;
    font-family: "Quicksand", sans-serif;
    font-weight: bold;
    text-align: center;
    font-size: 40px;
  }
  
  h2.rpg_title, label {
    color: #653ffe !important;
    background-image: none !important;
  }
  
  form p, label {
    font-family: "Quicksand", sans-serif;
    font-size: 20px;
  }
  
  form {
    p {
      margin: 0;
    }
  
    .container-form {
      margin: 10px 0;
    }
  
    display: flex;
    flex-direction: column;
    align-items: center;
  
    input {
      &[type="text"], &[type="email"] {
        border-radius: 5px;
      }
    }
  
    textarea {
      border-radius: 5px;
    }
  
    span {
      color: red;
    }
  
    .name {
      display: flex;
      gap: 20px;
      justify-content: center;
    }
  
    .subject, .message {
      width: 90%;
    }
  
    .form-subject {
      width: 100%;
    }
  
    .submit p {
      display: flex;
      justify-content: center;
    }
  
    input[type="submit"] {
      font-family: "Quicksand", sans-serif;
      font-size: 20px;
      border-radius: 10px;
      background-color: #ff5c00;
      color: #fff5e9;
      padding: 15px 30px;
      margin: 25px auto;
    }
  }